= form_for @rcd do |f|
  .form-group
    = f.label :title
    = f.text_field :title, :class => "form-control"

  .form-group
    = f.label :content
    = render "posts/editor"
    = f.hidden_field :content, :value => f.object.content

  %div
    = f.submit :class => "btn btn-default"
    or
    = link_to "Back to post list", posts_path
